In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import json

file = pd.read_json(r"C:\Users\user\Documents\contacts.json", lines = True)

In [8]:
file.head()

,0,1,2,3,4,5,6,7,8,9,...,499990,499991,499992,499993,499994,499995,499996,499997,499998,499999
0,"{'Id': 0, 'Email': 'gkzAbIy@qq.com', 'Phone': ...","{'Id': 1, 'Email': '', 'Phone': '329442681752'...","{'Id': 2, 'Email': '', 'Phone': '9125983679', ...","{'Id': 3, 'Email': 'mdllpYmE@gmail.com', 'Phon...","{'Id': 4, 'Email': '', 'Phone': '300364407', '...","{'Id': 5, 'Email': '', 'Phone': '840113148', '...","{'Id': 6, 'Email': 'hESiBgYTxMnj@hotmail.com',...","{'Id': 7, 'Email': 'hqyunTiaXfIjhO@yahoo.com',...","{'Id': 8, 'Email': 'XGUjcSiDpFKWEUCs@qq.com', ...","{'Id': 9, 'Email': 'osIIQgAiZX@hotmail.com', '...",...,"{'Id': 499990, 'Email': '', 'Phone': '88075209...","{'Id': 499991, 'Email': 'ygooASjKOiBvQ@gmail.c...","{'Id': 499992, 'Email': '', 'Phone': '09167168...","{'Id': 499993, 'Email': 'qXUQsYAv@yahoo.com', ...","{'Id': 499994, 'Email': 'btjvtrrKGFKcqgop@qq.c...","{'Id': 499995, 'Email': '', 'Phone': '10072395...","{'Id': 499996, 'Email': '', 'Phone': '57170966...","{'Id': 499997, 'Email': '', 'Phone': '45414599...","{'Id': 499998, 'Email': 'RzSDsyH@hotmail.com',...","{'Id': 499999, 'Email': '', 'Phone': '88005338..."

In [9]:
df = pd.read_json(r"C:\Users\user\Documents\contacts.json")
df.to_csv(r"C:\Users\user\Documents\contacts.csv", index = None)

In [10]:
df.head()

   Id               Email         Phone  Contacts                    OrderId
0   0      gkzAbIy@qq.com                       1
1   1                      329442681752         4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                        9125983679         0
3   3  mdllpYmE@gmail.com                       0  bHquEnCbbsGLqllwryxPsNOxa
4   4                         300364407         2

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Id        500000 non-null  int64
 1   Email     500000 non-null  object
 2   Phone     500000 non-null  object
 3   Contacts  500000 non-null  int64
 4   OrderId   500000 non-null  object
dtypes: int64(2), object(3)
memory usage: 19.1+ MB

In [12]:
df.isnull().sum()

Id          0
Email       0
Phone       0
Contacts    0
OrderId     0
dtype: int64

In [21]:
df_new = df.groupby(['Id', 'Email','Phone','Contacts']).count()['OrderId']

In [22]:
df_new = df_new.reset_index()

In [23]:
df_new.rename(columns = {'Id': 'TicketId'}, inplace = True)

In [24]:
print(df_new)

        TicketId                Email         Phone  Contacts  OrderId
0              0       gkzAbIy@qq.com                       1        1
1              1                       329442681752         4        1
2              2                         9125983679         0        1
3              3   mdllpYmE@gmail.com                       0        1
4              4                          300364407         2        1
...          ...                  ...           ...       ...      ...
499995    499995                        10072395382         2        1
499996    499996                       571709661031         4        1
499997    499997                         4541459979         2        1
499998    499998  RzSDsyH@hotmail.com   98947185431         1        1
499999    499999                       880053388839         0        1

[500000 rows x 5 columns]

In [27]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize == (18,8))
sns.displot(df_new['TicketId'])
plt.show()

NameError: name 'figsize' is not defined

In [28]:
df_new.to_csv(r"C:\Users\user\Documents\submission.csv")